.cont-card{
    /* margin: 50px 0 20px; */
    padding: 10px;
    
}

.card {
<<<<<<<<< Temporary merge branch 1
    margin-top: 50px;
=========
    margin-top: 90px;
>>>>>>>>> Temporary merge branch 2
    box-shadow: 10px 15px 5px rgb(87, 86, 86);
    box-shadow: 10px 15px 5px rgb(87, 86, 86);
  }