.filtros-cont{
    margin-top: 150px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 20px;
    padding: 10px;
    
}

.form-text{
    margin-bottom: 10px;
}

.filtros-cont2{
    margin-top: 50px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 20px;
    padding: 10px;
  
}

.mi-container{
    align-items: left;
  
}

.check-label{
    color:rgb(179, 172, 172)
}