.filtros-cont{
    margin-top: 150px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 20px;
    padding: 10px;
    
}

.boton-offcanvas{
    display: none;
}

.form-text{
    margin-bottom: 10px;
}

.mi-container{
    align-items: left;
  
}

.check-label{
    color:rgb(179, 172, 172)
}

.offcanvas-filter{
    margin: 50px 0 0 50px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 10px;
    height: auto;
    padding: 15px;
    width: 75%;
    box-shadow: 5px 5px 5px rgb(87, 86, 86);
}

.offcanvas-header{
    background-color: rgb(248,249,250);
    border: 1px solid rgb(194, 193, 193);

}

.cardExt, .cardCat{
    border: 1px solid rgb(211, 209, 209);
    border-radius: 10px;
    padding: 10px;
}


@media (max-width: 1000px) {
    .filtros{
        display: none;
    }

    .boton-offcanvas{
        display: block;
        width: max-content;
        background-color: rgb(238, 237, 237);
        border: 1px solid rgb(214, 212, 212);
        border-radius: 7px;
        box-shadow: 5px 5px 5px rgb(87, 86, 86);
        padding: 6px;
        align-self: center;
    }
    .boton-offcanvas:hover{
        background-color: rgb(187, 185, 185);
        border: 1px solid rgb(214, 212, 212);
    }
    .filtros-cont{
        border: 0px;
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
}

@media (max-width: 1000px) {
    .boton-offcanvas{
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .cardCat {
      font-size: 12px;
    }
  }