.filtros-cont{
    margin-top: 150px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 20px;
    padding: 10px;
    
}

.boton-offcanvas{
    display: none;
}

.form-text{
    margin-bottom: 10px;
}